* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primaryColor {
  color: #ff385c;
}

.resetMargin {
  margin: 0 !important;
}

.align {
  text-align: center;
  justify-self: center;
  height: 30px;
  width: 100px;
}
